# Ignorer le dossier vendor
/vendor/

# Ignorer les fichiers de configuration sensibles
/config/config.php

# Ignorer les fichiers temporaires
*.log
*.tmp

# Ignorer les dossiers d'IDE
/.idea/
/.vscode/

# Ignorer les fichiers de session
/session/
