/* Conteneur Principal */
.login-container {
	display: flex;
	height: 100vh;
	font-family: 'Inter', sans-serif;
	background-color: #f9f9f9;
	box-sizing: border-box;
}

/* Formulaire de Connexion */
.login-form {
	flex: 1;
	max-width: 50%;
	padding: 0 9%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: #FAF9F7;
	box-sizing: border-box;
}

.login-form h1 {
	font-family: 'Playfair Display', serif;
	font-size: 2.5em;
	margin-bottom: 30px;
	color: #333;
	font-weight: 400;
}

.login-form .form-group {
	margin-bottom: 20px;
	width: 100%;
}

.login-form label {
	display: block;
	margin-bottom: 8px;
	font-weight: 400;
	color: #A6A6A6;
	font-size: 14px;
}

.login-form input {
	padding: 12px;
	border: 1px solid #ddd;
	border-radius: 6px;
	font-size: 1em;
	font-family: 'Inter', sans-serif;
	width: 322px;
}

.login-form .btn-submit {
	padding: 12px 0;
	background-color: #00AC66;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 16px;
	width: 100%;
	font-weight: 600;
	text-align: center;
}

.login-form .btn-submit:hover {
	background-color: #006D41;
}

.login-form p {
	margin-top: 20px;
	font-size: 1em;
	color: #666;
}

.login-form a {
	color: #0f5132;
	text-decoration: none;
	font-weight: 500;
}

.login-form a:hover {
	text-decoration: underline;
}

/* Image de droite */
.login-image {
	flex: 1;
	background-image: url('/assets/img/logImage.png');
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
}

/* Message d'erreur */
.errors {
	background-color: #ffe6e6;
	border: 1px solid #ff4d4d;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.errors ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.errors li {
	color: #ff1a1a;
	font-size: 14px;
}
